{% load pipeline %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Academic reserve</title>
    {% javascript 'vue' %}
    {% javascript 'lodash' %}
    {% stylesheet 'foundation' %}
</head>
<body>

{% verbatim %}
<nav>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Академический резерв</li>
      <li><a href="#">Участники программы</a></li>
      <li>
        <a href="reports/dean">Отчёт декана</a>
      </li>
      <li><a href="admin/">Администрирование</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
    </ul>
  </div>
</div>
</nav>
<div id="app">
    <div v-for="(categories,status) in groupedReserve">
        <h4 class="status-header">Статус участия: {{ status }}</h4>
        <div v-for="(table, category) in categories">
            <h5>{{ category }}</h5>
            <table>
                <thead>
                <th style="width:300px;">Сотрудник</th>
                <th style="width:200px;">Должность</th>
                <th style="width:150px;">Стаж</th>
                <th style="width:150px;">Учёная степень</th>
                <th v-for="stage in table.stages">
                    <a :href="stage.admin_url">{{ stage.name }}</a><br/>
                    <span style="font-style: italic;">{{ stage.deadline }}</span>
                </th>
                </thead>
                <tr is="reservist-row" v-for="r in table.reservists" :res="r" :key="r.url"></tr>
            </table>
        </div>
    </div>
</div>
<style>
    #app{
        margin: 2% 0 0 5%;
    }
    .status-header{
        margin-left: -3%;
    }

</style>
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                reserve: []
            },
            mounted: function() {
                this.$http.get('api/reserve/').then(function (resp) {
                    this.reserve = resp.data;
                },
                    function(resp) {
                    console.log(resp);
                });
            },
            computed: {
                groupedReserve(){
                    return _.mapValues(_.groupBy(this.reserve, 'status'),
                        status_group =>
                            _.mapValues(_.groupBy(status_group, 'category'),
                                c_group => ({
                                    stages: c_group[0].stages,
                                    reservists: c_group
                                })
                            ));
                }
            },

            components:
                {
                    'reservist-row': {
                props: ['res'],
                template: `<tr>
                       <td><a :href="res.admin_url">{{ res.name }}</a><br/>
                        <a :href="res.personal_page">(HSE)</a><br/>
                        <a :href="mailto(res.email)">{{ res.email }}</a></td>
                    <td><span style="font-style:italic;">{{ res.position }}</span><br/>
                    {{ res.department }}</td><td>{{ res.experience }}</td><td>{{ res.phd }}</td>
                    <td style="width:200px;" v-for="stage in res.stages">
                        <input type="checkbox" v-model="stage.done"/>
                        <span v-if="stage.template">{{ stage.template }}</span>
                    </td></tr>`,
                methods: {
                    mailto(email){
                        return 'mailto:' + email;
                    }
                },
                watch: {
                    'res.stages':{
                        handler: function () {
                            this.$http.patch(this.res.url, {
                                'stages': this.res.stages
                            })
                        },
                    deep: true
                    },
                }
            }
                }
        });
    </script>
</body>
</html>
{% endverbatim %}