    .app{
        margin: 2% 0 0 5%;
    }
    .status-header, .reports-header{
        margin-left: -3%;
    }

    td.callout
    {
        border: 0px;
    }

    .reports ul > li
    {
        list-style: none;
    }

    .reservist-row td > .callout
    {
        padding: 4px 16px;
        margin-bottom: 4px;
    }